<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Нужен доступ к камере, чтобы отправлять фото в чат</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Нужен доступ к фото, чтобы отправлять изображения в чат</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Нужен доступ к микрофону, чтобы записывать голосовые сообщения</string>
</dict>
</plist>